
.div_1_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 30px */

  display: flex;
  align-items: center;

  margin: 15px 0 25px 0;
}

.div_2 {
  width: 100%;
  background: #ffffff;
  border-radius: 32px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 20px;

  margin: 0 0 30px 0;
}

.email_icon {
  font-size: 20px;
  color: #818181;
  margin: 0 10px 0 0;
}
.email_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: rgba(66, 66, 66, 0.5);
}

.subscribe {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #521818;

  background-color: #f7bfb4;
  padding: 3px 15px;
  border-radius: 32px;
}
.div_2_left {
  display: flex;
  align-items: center;

  width: 50%;
}
.email_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_3_left_header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 30px */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin: 0 0 25px 0;
}
.div_3_right_header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 30px */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin: 0 0 25px 0;
}
.div_3_left {
  width: 50%;
}
.div_3_left_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin: 0 0 32px 0;
}

.div_3_right {
  width: 50%;
}

.div_3_right_email {
  display: flex;
  align-items: center;

  margin: 0 0 15px 0;
}
.div_3_right_email_icon {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
}

.div_3_right_tel {
  display: flex;
  align-items: center;

  margin: 0 0 50px 0;
}
.div_3_right_tel_icon {
  margin: 0 15px 0 0;
}

.div_3_right_text_1 {
  margin: 0 0 80px 0;
}

.div_3_right_text_2 {
  margin: 0 15px 0 0;
}

.div_3_right_text_2_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.div_3_right_text_1_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.div_3_right_email_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 21px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.div_3_right_tel_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 21px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.bottom_2_section {
  display: flex;
  align-items: center;
}

.div_3 {
  display: flex;
}

.tablet_div_3_left {
  display: none;
}

.tablet_div_3_right{
  display: none;
}

@media (max-width: 1024px) {
  .div_3 {
    display: block;
  }
  .div_3_left {
    display: none;
  }

  .tablet_div_3_left {
    display: block;
    align-items: center;
    margin: 0 0 20px 0;
  }

  .tablet_div_3_left_header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* or 30px */

    display: flex;
    align-items: center;

    color: #ffffff;
    margin: 0 0 25px 0;
  }
  .tablet_div_3_left_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 24px */

    display: flex;
    align-items: center;

    color: #ffffff;
    margin: 0 0 20px 0;
  }
  .tablet_div_3_leftside_main {
    display: flex;
  }

  .tablet_div_3_leftside {
    margin: 0 50px 0 0;
  }

  .div_3_right {
    display: none;
  }
  .div_3_right_tel {
    margin: 0 0 30px 0;
  }
  .div_3_right_text_1 {
    margin: 0 0 50px 0;
  }
  .tablet_div_3_right {
    display: contents;
  }
}
