.e_profile_wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    /* margin-left: 30px; */
}
.e_profile_wrapper > text {
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 600;
    line-height: 30px;
    margin-left: 30px;
}
.stats_text_wrapper{
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 30px;
}
.stats_text_wrapper > text {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 20px;
    /* color: black; */
  }
.e_profile_wrapper > text{
    font-size: 14px;
}

.edit_image_wrapper{
 /* border: 1px solid black; */
 /* background-color: #1d0606; */
 /* padding:30px; */
 margin-top: 30px;
 margin-left: 30px;
 position: relative;
 width: auto;
 /* position: absolute; */

}
.e_cam_wrapper{
    position: absolute;
    /* margin-bottom:30px ; */
    /* background-color: #1d0606; */
    /* right: 0; */
    bottom: 5px;
    left:80px;
    cursor: pointer;
}
.edit_image_model{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -6px 7px 37px 10px rgb(202 201 201 / 96%);
    -webkit-box-shadow: -6px 7px 37px 10px rgb(202 201 201 / 96%);
    bottom:-66px;
    left: 75px;
}
.cam_model{
    display: flex;
    /* position: absolute; */
    align-items: center;
    /* margin-top: ; */
    /* background-color: #1d0606; */
    cursor: pointer;
    padding:5px 7px;
    border-radius: 5px;
}
.cam_model_del{
    display: flex;
    /* position: absolute; */
    align-items: center;
    cursor: pointer;
    padding:5px 7px;
    border-radius: 5px;
}
.cam_model:hover{
   background-color: #F7BFB4;
}
.cam_model_del:hover{
    background-color: #F7BFB4;
}
.cam_model > text{
    margin-left: 20px;
    color: #424242;
    font-size: 16px;
}
.cam_model_del > text{
    margin-left: 20px;
    color: #424242;
    font-size: 16px;
    /* margin-top: 20px; */
}
/* .e_profile_edit_image_wrapper{
    margin-left: 30px;
    margin-top: 30px;
    width: auto;
}
.e_profile_image_cam{
    position: absolute;

    bottom: 0;
    right: -30px;
}
.e_profile_image{
    width: 100px ;
    height: 100px;
    margin-top: 30px;
} */
.e_username{
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    height: 50px;
}
.e_user_name_field {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    /* margin-left: 30px; */
    /* background-color: aquamarine; */
}

.e_prefix {
    /* text-align: center; */
    display : flex;
    /* flex-direction: column; */
    width: 20%;
    /* margin-left: 30px; */
    /* background-color: aqua; */
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    /* padding :10px */
    /* text-align: center; */
    /* margin-bottom: 5px; */
    /* background-color: yellowgreen; */
}
.e_prefix_left {
    /* margin: 10px; */
 
    width: 80%;
    /* height: 60%; */
    /* background-color: black; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.e_prefix_left > label {
    font-size: 14px;
    color:#818181
}
.e_prefix_left > p {
    font-size: 16px;
    color:#424242;
    margin: 0;
    padding:0

}
.e_prefix_right{
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    /* margin: 0; */
    /* padding:0; */
    /* margin-right: 10px; */
    /* background-color: #1d0606; */
    /* text-align: center; */
}
.rightdiv_text {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    /* line-height: 30px; */
    /* margin-left: 20px; */
    /* margin-left: 30px; */
    /* background-color: #424242; */
  }
.username{
    width: 100%;
    height: 100px;
    margin-left: 30px;
    /* background-color: #1d0606; */
    border: 1px solid black;
}
.dropdownContent{
    position : absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: -90px;
    padding:10px;
    align-items: center;
    justify-content: center;
    box-shadow: -6px 7px 37px 10px rgb(202 201 201 / 96%);
    -webkit-box-shadow: -14px 6px 20px 0px rgb(229 229 229 / 59%);
    -moz-box-shadow: -6px 7px 37px 10px rgba(202, 201, 201, 0.96);
    /* z-index: 2; */

}
.dropdownContent > span {
    /* margin-top: 10px; */
    text-align: center;
    width: 50px;
    font-size: 16px;
}
.dropdownContent > span:hover {
    background-color: rgb(219, 213, 213);
    margin-top: 10px;
    text-align: center;
    width: 50px;
    font-size: 16px;
}

.e_firstname{
    display: flex;
    width: 35%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    height: 100%;
}
.e_firstname_left{
    display: flex;
    align-items: center;
    /* background-color: violet; */
}
.e_firstname_right{
    /* float: right; */
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* background-color: blue; */
    /* text-align: center; */
    /* align-items: center; */
    /* background-color: #1d0606; */
    /* justify-content: center; */
    /* margin-top: 10px; */
    
}
.e_firstname_right > label {
    font-size: 14px;
    color:#818181;
    outline: none;
}
.e_firstname_right > input {

    /* background-color: #1d0606; */

    /* padding: 10px 0px; */
    border: none;
    background-color: transparent;
    font-size: 16px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin: 0;
    padding:0;
    /* padding:10px */
    /* margin-top: 20px; */
    /* padding: 5px 10px; */

}
.e_firstname_right > input:focus{
    outline: none;
}
.e_lastname{
    display: flex;
    width: 35%;
    border-bottom: 1px solid black;
    /* height: 100px; */
    /* margin: 10px; */
    /* margin-left: 0; */
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
    height: 100%;
}
.e_lastname_left{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.e_lastname_right {
    /* background-color: rgba(25, 25, 148, 0.637); */

    display: flex;
    flex-direction: column;
}
.e_lastname_right > label {
    font-size: 14px;
    color:#818181
}
.e_lastname_right > input {

    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-top: 10px;
    margin: 0;
    padding:0;
    width: 100%;
    /* background-color: #fff; */
    /* padding: 5px 10px; */
}
.e_company_field{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    border-bottom:  1px solid black;
}
.e_company_field > label {
    font-size: 14px;
    color:#818181
}
.e_company_field > input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 10px 0px;
    border-style: none;
}

.e_email_field {
    display: flex;
    margin: 30px 0px 0px 30px;
    border-bottom:  1px solid black;
    align-items: center;
}
.email_delete{
    display: flex;
    /* background-color: #1d0606; */
    width: 100%;
    /* float: right; */
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.e_email_right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 20px;
    /* background-color: #1d0606; */
}
.e_email_right > input {
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.add_input{
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}


.e_email_right > label{
    font-size: 14px;
    color:#818181
}
.e_add_email {
    display: flex;
    align-items: center;
    margin: 60px 0px 0px 30px;
}

.e_add_email_button {
    width: 40px;
    height: 40px;
    color: #521818;
    cursor: pointer;
}
.e_add_email > p{
    margin-left: 20px;
}
.e_add_address {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 30px;
}
.e_add_address_button{
    width: 26px;
    height: 30px;
}
.e_add_address > p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600
}
.e_add_address_{
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 30px;
}
.e_add_address_ > p{
    margin-left: 20px;
}
.e_add_address_button_{
    width: 40px;
    height: 40px;
    color: #521818;
    cursor: pointer;
}
.e_additional_info{
    margin: 30px 0px 0px 30px;
}
.e_additional_info_header{
    display: flex;
    align-items: center;
}
.e_additional_info_button{
   width: 30px;
   height: 30px; 
}
.e_additional_info_header >p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    color:#424242

}
.e_additional_info > p {
    font-size: 16px;
    font-weight: 600;
    color:#424242
}
.e_additional_info  > span {
    font-size: 16px;
    color:#424242
}
.e_additional_info_checkbox{
    margin-top: 30px;
}
.e_additional_info_checkbox > div{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.e_additional_info_checkbox > div> input{
   margin: 0;
   width: 20px;
   height: 20px;
   color: #521818;
   background-color: #424242;
   zoom: 2;
}
.e_additional_info_checkbox > div> input[type=radio]{
  accent-color:#521818 ;
  width:20px;
  height: 20px;
  padding:10px;
 }
.e_additional_info_checkbox > div> p {
    margin-left: 20px;
}

.e_profile_update_button{
    margin-top: 30px;
    padding:10px 20px;
    background-color: #521818;
    color:white;
    border-radius: 30px;
    border: none;
}
.e_profile_update_button:hover{
    cursor: pointer;
    margin-top: 30px;
    padding:10px 20px;
    background-color: #1d0606;
    color:white;
    border-radius: 30px;
    border: none;
}
.e_prefix_right{
    width: 30;
    height: 30;
    color: #521818;
}
@media screen and (max-width:768px){
    .e_user_name_field{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
   .e_lastname{
        /* margin-left: 40px; */
        /* background-color: #1d0606; */
        /* padding-left:0 */
    }
    .e_firstname {
        /* margin-left: ; */
    }
    .e_profile_update_button{
        width: 100%;
    }

    /* username */

    .e_username{
        display: flex;
        align-items: flex-start;
        /* margin-left: 30px; */
        justify-content: space-between;
        /* background-color: yellow; */
        /* border: 1px solid black; */
        height: 50px;
        flex-direction: column;
    }

    .e_firstname{
        display: flex;
        width: 35%;
        border-bottom: 1px solid black;
        justify-content: space-between;
        /* background-color: red; */
        /* align-items: center; */
        height: 100%;
        /* width: 100%; */
    }

    .e_firstname_left{
        display: flex;
        /* align-items: center; */
        /* background-color: violet; */
    }
    .e_company_field{
        display: flex;
        flex-direction: column;
        margin: 90px 0px 0px 30px;
        border-bottom:  1px solid black;
    }
    .e_lastname_right {
        /* background-color: rgba(25, 25, 148, 0.637); */
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .e_firstname_right{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .e_profile_wrapper > text {
        display: none;
    }
    .mobile_dashboard_text {
        margin-left: 30px;
    }
}